/*@font-face {
    font-family: Persona5MenuFontPrototype;
    src: url(/css/fonts/Persona5MenuFontPrototype-Regular.ttf);
  }
  
  @font-face {
    font-family: p5hatty;
    src: url(/css/fonts/p5hatty.ttf);
  }
  */
  main {
    border: 5px solid #FFFFFF;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
    color: black;
    border-bottom: 5px solid #FFFFFF;
    padding: 10px;
  }
  
  body {
    background-color: #4682B4;
  }
  
  section {
    position: inherit;
    align-items: center;
    background-color: #4682B4;
    border: 5px solid #FFFFFF;
    border-style: outset;
  }
  
  nav {
    position: fixed;
    margin-top: -60px;
    width: 180px;
    float: left;
    padding: 10px;
    /*border-right: 5px solid black;
      border-top: 5px solid black;
      border-bottom: 5px solid black;*/
  }
  
  nav a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: black;
  }
  
  h3 {
    color: White;
    text-align: center;
  }
  
  h4 {
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  h5 {
    font-family: "Bubblegum Superstar";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  p {
    color: white;
    text-align: center;
  }
  