body {
    background-color: #d62e2e;
  }

section {
    align-items: center;
    background-color: black;
    border: 1px solid  #d62e2e;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
}

h3 {
    font-family: 'Bubblegum Superstar';
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: white;
}

h3.date-font {
    font-family: 'Franklin Gothic Medium';
    font-weight: bolder;
    text-align: center;
    font-size: large;
    font-style: italic;
    color: whitesmoke;

}

h4 {
    font-family: 'Arsenal';
    font-weight: bold;
    text-align: center;
    color:white;
}
p, ol, ul{
    font-family: 'Arsenal';
    text-align: center;
    color: white;
}



