.main_menu_style {
	list-style: none;
}

#main_menu_setup {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#main_menu_setup li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#main_menu_setup a {
	display:inline-block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#main_menu_setup a:hover {
	background-color:#009;
	color:#fff;
}
	